:root {
    --line: 30px;
    --rad: 30px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu Mono", fantasy;
    font-size: 20px;
}

.back {
    background-color: white;
}

.reg-form {
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc(50% - 150px);
    left: calc(50% - 75px);
    border-radius: var(--rad);
    border: 1px solid black;
    display: grid;
    /*grid-template-rows: [row1] var(--line) [row2] var(--line) [row3] var(--line);*/
    place-items: center;
}

/*ГЛАВНОЕ ОКНО ЧАТА*/
.main-chat {
    display: flow;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80%;
    border-radius: var(--rad);
    border: 2px solid black;
    place-items: center;
}

/*ОКНО ФОРУМА*/
.main-forum {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 5vw;
    box-shadow: 0 4px 20px rgba(48, 48, 48, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: var(--rad);
    overflow: scroll;
    height: 50vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*ЧЛЕНЫ*/
.members {
    width: 15vw;
    margin: 5vw 5vw 5vw 0;
    box-shadow: 0 4px 20px rgba(48, 48, 48, 0.15);
    border-radius: var(--rad);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.member {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: auto;
    margin: 1vw;
}

/*ОКНО ВВОДА*/
.main-input {
    width: 70vw;
    margin: 0 5vw 5vw;
    height: calc(2 * var(--line));
    border-radius: var(--rad);
    box-shadow: 0 4px 20px rgba(48, 48, 48, 0.15);
    display: grid;
    grid-template-columns: [start] auto [end] 10vw;
    grid-template-rows: [start] auto;

}

/*ВВОД ТЕКСТА*/
.input-chat {
    font-family: "Ubuntu Mono", fantasy;
    font-size: 20px;
    color: #303030;
    border: none;
    border-radius: var(--rad);
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

/*КНОПКА ОТПРАВКИ*/
.input-send {
    font-family: "Ubuntu Mono", fantasy;
    font-size: 20px;
    border: none;
    border-radius: var(--rad);
    background-color: gray;
    box-shadow: 0 4px 20px rgba(48, 48, 48, 0.15);
}

/*КОНТЕЙНЕР ЧАТА И ЧЛЕНОВ*/
.forum-and-members {
    display: flex;
}

.login-reg {
    width: 117px;
}

::placeholder {
    color: #E2E2E2;
}


.input-chat:focus {
    outline: none;
}

input[type="submit"] {
    width: 125px;
    justify-items: center;
    border: none;
}


/*СООБЩЕНИЯ В ЧАТЕ СЛЕВА И СПРАВА*/
.to_r {
    padding: 1vw;
    width: 45vw;
    text-align: right;
    word-wrap: break-word;
}
.to_l {
    padding: 1vw;
    width: 45vw;
    text-align: left;
    word-wrap: break-word;
}
