:root {
    --line: 30px;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.main {
    width: 150px;
    border-radius: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: [row1] var(--line) [row2] var(--line) [row3] var(--line);
    place-items: center;
}

input[type="text"] {
    width: 117px;
}

input[type="submit"] {
    width: 125px;
    justify-items: center;
}